.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cdStyles {
  background-image: url("../public/images/card-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid #cca354 !important;
  border-radius: 10px;
  width: 220px !important;
  height: 400px !important;
  width: 80% !important;
  box-shadow: 0px 0px 15px #cca354;
  color: #fff;
  font-size: calc(10px + 1.3vmin);
}

.crd {
  height: 100%;
  margin: 0 auto !important;
  padding-bottom: 25px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #282c34 !important; */
  color: #6b4130;
  font-size: calc(8px + 1vmin);
}

.crd h4 {
  color: #cca354;
}

._cryp {
  color: #626b7f;
  line-height: 14px;
  font-weight: 400;
  font-size: 11px;
  box-sizing: border-box;
  padding: 2px 6px;
  width: 100%;
  font-family: Verdana, Tahoma, Arial, sans-serif;
}

.cryp {
  border: 0;
  margin: 0;
  padding: 0;
}

.cryp_1 {
  height: 669px;
  background-color: #1d2330;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #282e3b;
  border-radius: 4px;
  text-align: right;
  line-height: 14px;
  font-size: 12px;
  font-feature-settings: normal;
  text-size-adjust: 100%;
  box-shadow: inset 0 -20px 0 0 #262b38;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.cryp_2 {
  height: 649px;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.cryp_3 {
  font-weight: 500;
  color: #626b7f;
  text-decoration: none;
  font-size: 11px;
}

.wcv {
  width: 31% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tble {
  margin: 0 auto !important;
  width: 80% !important;
}

.t-head {
  border-top: 2px solid #cca354 !important;
  border-bottom: 4px solid #cca354 !important;
}

.t-body {
  border: 2px solid #cca354 !important;
}

.tble_1 {
  margin: 0 auto !important;

  width: 70% !important;
}

.rights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-foot {
  width: 85%;
  height: 100%;
}

/* .border-danger {
  color: rgb(6, 4, 109) !important;
  height: 0.3em !important;
} */

.bgBlack {
  border-top: 4px solid #cca354 !important;
  background-color: #131010 !important;
}

.backgrnd-0 {
  border-top: 4px solid #cca354 !important;
  background-image: url("../public/images/DarkBackground_2.webp") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.simMap {
  margin-top: 30px !important;
}

.sub-bg {
  background-image: url("../public/images/stars.gif") !important;
  background-size: repeat !important;
  /* background-repeat: no-repeat !important; */
  height: 80vh !important;
  padding-top: 10% !important;
}

.Ai-bg {
  background-color: #cca354 !important;
}

.backgrnd1 {
  background-image: url("../public/images/DarkBackground_1.jpeg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.bg {
  border-top: 4px solid #cca354 !important;
}

.news-img {
  width: 93% !important;
  margin: 13px auto !important;
}

.news-bg {
  background-image: url("../public/images/4479-V17054557.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-top: 4px solid #cca354 !important;
}

.payment-method-img {
  border: 4px solid #cca354 !important;
}
.payment-method img {
  width: 60% !important;
  height: auto !important;
  margin-top: 50px;
  margin-bottom: 50px;
}

.region-rep {
  width: 70% !important;
  height: 100% !important;
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.tble_1 {
  border: 2px solid #cca354 !important;
  box-shadow: 0px 0px 10px #cca354;
}

.tble_2 {
  border: 2px solid #cca354 !important;
  background-color: transparent !important;
}
@media (min-width: 991px) {
  .team-member {
    width: 22% !important;
  }
}
.team-member {
  margin: 0 auto !important;

  height: 100% !important;
  margin-top: 80px !important;
  margin-bottom: 50px !important;
}

.team-img img {
  padding-top: 20px !important;
  width: 95% !important;
  height: 60% !important;
}

.team-bg {
  border-top: 4px solid #cca354 !important;
  background-image: url("../public/images/DarkBackground_6.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.feedback {
  /* width: 30% !important; */
  height: 100% !important;
  margin: 0 auto !important;
  background-color: rgb(211, 206, 206);
  border-radius: 20px;
}

.feedback-img {
  width: 18% !important;
  height: 18% !important;
  border-radius: 50% !important;
  border: 3px solid #cca354 !important;
  margin-right: 20px !important;
}

.feedback-bg {
  background-image: url("../public/images/DarkBackground_4.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.feedback-bg-dash {
  background-image: url("../public/images/DarkBackground_4.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /* width: 100% !important; */
  /* height: 700px !important; */
}

.feedback-bg-dash-2 {
  background-image: url("../public/images/DarkBackground_4.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100% !important;
  height: 100% !important;
}

.feedback-bg-dash-3 {
  background-image: url("../public/images/DarkBackground_4.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100% !important;
  height: 100% !important;
}

.feedback-bg-dash-4 {
  background-image: url("../public/images/DarkBackground_4.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /* width: 100% !important; */
  height: 100% !important;
}

.faq-1 {
  width: 60% !important;
  margin: 0 auto !important;
}

.faq-bg {
  background-image: url("../public/images/faqbg-img.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.hIworks {
  width: 100px !important;
  height: 100px !important;
  margin: 0 auto !important;
  border-radius: 50% !important;
  border: 3px solid #cca354 !important;
  box-shadow: 0px 0px 20px #cca354 !important;
  /* background-color: #444444 !important; */
  position: relative !important;
}

.hIworks img {
  margin-top: 26px !important;
  width: 40% !important;
  height: 40% !important;
}

.hIworks-id {
  margin-top: 17% !important;
  font-size: 20px !important;
  font-weight: bold !important;
  position: absolute !important;
  top: -30px !important;
  left: 60px !important;
  border-radius: 50% !important;
  border: 2px solid #cca354 !important;
  color: #cca354 !important;
  padding-bottom: 10px !important;
  width: 35px !important;
  height: 35px !important;
  /* background-color: #444444 !important; */
}

.line {
  border-bottom: 3px dashed #6b4130 !important;
}

.wcv {
  color: #cca354 !important;
}

.new-bd {
  border: 4px solid #cca354 !important;
}

.btn-custom {
  background-color: #fff !important;
  border-color: #cca354 !important;
  color: #cca354 !important;
}

.btn-custom:hover {
  background-color: #cca354 !important;
  border-color: #cca354 !important;
  color: #fff !important;
}

.title-spn {
  color: #cca354 !important;
}

.choice-bg {
  background-image: url("../public/images/bitcoin-btc-cryptocurrency-coins-gold-money-coin-with-black-background_35652-2162.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.invest-bg {
  background-image: url("../public/images/stars.gif") !important;
  background-size: repeat !important;
  opacity: 1 !important;
  /* background-repeat: no-repeat !important; */
}
@media (min-width: 800px) {
  .note-custom {
    width: 35% !important;
  }
  .refere-custom {
    width: 45% !important;
  }
}
.note-custom {
  background-color: rgb(10, 10, 10) !important;
  /* opacity: 0.9 !important; */
  width: 80%;
  height: 30% !important;
}

.refere-custom {
  background-color: rgb(10, 10, 10) !important;
  /* opacity: 1 !important; */
  margin-top: 40% !important;
  width: 80%;
  height: 40% !important;
}

.note-1 {
  color: #cca354 !important;
}

.signup-head {
  background-image: url("../public/images/sighnUpHead.jpg") !important;
  opacity: 0.8 !important;
  border-bottom: 2px solid #cca354 !important;
}

.invest-cap {
  font-size: 0.6em !important;
  height: 10% !important;

  background-color: #09d475 !important;
  color: #fff !important;
}

.about-bg {
  background-image: url("../public/images/cryp8.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.hero-bg {
  background-image: url("../public/images/hero-bg.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 900px !important;
}

.pay-bg {
  background-image: url("../public/images/cryp-backgrnd.webp") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /* height: 900px !important; */
}

.desc {
  background-image: url(../public/images/stars.gif);
  background-size: repeat;
  height: 700px;
  /* background-repeat: no-repeat !important; */
}

.sign-up1 {
  margin: 0 auto !important;
  width: 40% !important;
}
@media (min-width: 500px) {
  .signUp-border {
    width: 45% !important;
  }
  .signUp-border2 {
    width: 45% !important;
  }
}
.signUp-border {
  border: #cca354 !important;
  margin: 0 auto !important;
  /* margin-top: 15% !important; */
  padding: 25px !important;

  height: 100% !important;
  border-radius: 0 0 10px 10px !important;
  background-color: black !important;
  opacity: 0.8 !important;
  box-shadow: 0 0 10px 2px #cca354 !important;
}

.signUp-border2 {
  border: #cca354 !important;
  border-bottom: 0px !important;
  margin: 0 auto !important;
  margin-top: 15% !important;
  padding: 25px !important;

  height: 100% !important;
  border-radius: 10px 10px 0 0 !important;
  box-shadow: 0 0 10px 2px #cca354 !important;
}

.form-con {
  border: 1px solid #cca354 !important;
  background-color: transparent !important;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  /* padding: 8px 0px 8px 16px; */
  list-style: none;
  /* height: 60px; */
}

.nav-text a {
  text-decoration: none;
  color: #3e497f;
  font-size: 17px;
  width: 100%;
  /* height: 50%; */
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.nav-text a:hover {
  /* background-color: rgb(7, 87, 119); */
  color: #7f8cfd;
}

.nav-text2 {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 0%;
  /* padding: 8px 0px 8px 16px; */
  list-style: none;
  /* height: 60px; */
}

.nav-text2 a {
  text-decoration: none;
  color: #3e497f;
  font-size: 20px;
  width: 100%;
  /* height: 50% !important; */
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.nav-text2 a:hover {
  /* background-color: rgb(7, 87, 119); */
  color: #7f8cfd;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  /* background-color: rgb(7, 87, 119); */
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  /* margin-left: 5px; */
  font-size: 20px;
  background-color: rgb(104, 104, 223);
}

.nav-menu {
  background-color: #101924;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  /* left: -100%; */
  transition: 850ms;
  z-index: 10;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.text-nd {
  display: flex;
  justify-content: end;
  align-items: end;
}

/* .bg-dash {
  height: 100%;
  background-image: url('../public/images/DarkBackground_3.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
} */

.inv-dis {
  width: 23% !important;
}

.btn-inv {
  width: 100% !important;
}

.icon-btn {
  margin-left: 55% !important;
}

@media (min-width: 991px) {
  .rein-crd {
    width: 60% !important;
    margin-left: 50% !important;
  }
}

.rein-crd {
  margin-left: 37% !important;
}

.rein-crd-1 {
  /* width: 100% !important; */
  margin-left: 40%;
}

.rein-crd-2 {
  width: 100% !important;
  margin-left: 40%;
}

.rein-crd-3 {
  width: 50% !important;
  margin-left: 33%;
  /* margin-top: 4% !important; */
}
@media (min-width: 800px) {
  .rein-crd-4 {
    margin-top: -48% !important;
    margin-left: 85% !important;
  }
  .rein-crd-3 {
    height: 50% !important;
  }
}
.rein-crd-4 {
  width: 65% !important;

  margin-left: 33%;
}

.rein-crd-5 {
  width: 100% !important;
  margin-left: 30%;
  background-color: transparent !important;
}

.draw-hd {
  margin-left: 50% !important;
}

.draw-hd-0 {
  margin-top: -25% !important;
  margin-left: 40% !important;
}

.draw-hd-1 {
  margin-top: 5% !important;
  margin-left: 33% !important;
}

.draw-hd-2 {
  margin-left: 33% !important;
}

.font-sze {
  font-size: 0.8em !important;
}

.dash-text {
  color: #364a63 !important;
}

.dash-btn {
  background-color: #4567fc !important;
  color: #fff !important;
}

.basic {
  background-color: #ebeef2 !important;
  color: #a3b1c4 !important;
  font-weight: bold !important;
  font-size: 0.8em !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  padding-left: 20px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  border-radius: 5px !important;
}

.admin-card {
  width: 44% !important;
}

.admin-card-marg {
  margin-left: 53px !important;
}

.table-style {
  width: 100% !important;
  /* margin-top: 10% !important; */
  margin-bottom: 40% !important;
}

.errorMsg {
  color: var(--bs-danger, red);
}

.cursor-pointer {
  cursor: pointer;
}

.edit-profile:hover {
  background-color: #ebeef2;
  /* padding: 15px; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.dash-nav-bg {
  background-color: #101924;
}

.modal-txt {
  color: #8296b0;
  font-size: 1em;
  font-weight: bold;
}

.modal-txt2 {
  color: #344357;
  font-size: 0.9em;
  font-weight: bold;
}

.modal-txt3 {
  color: #8296b0;
  font-size: 0.9em;
}

.form-custom {
  /* width: 100%;
  height: 40px; */
  background-color: black;
  border-radius: 5px;
  border: unset;
  padding-left: 10px;
  padding-right: 10px;
  /* font-size: 0.5em; */
  color: #8296b0;
}

.modal-txt4 {
  color: #344357;
  font-size: 1.1em;
  font-weight: bold;
}

.pass-modal {
  color: #6675fc;
  font-size: 1.2em;
  font-weight: bold;
}
.pt-5rem {
  padding-top: 5rem;
}
.h-screen {
  height: 100vh;
}
.sidebar-text {
  transition: all 0.7s;
}
.closed-sidebar-text {
  width: 0%;
  display: none;
}
@media (min-width: 500px) {
  .closed-nav-menu {
    width: 100px !important;
  }
}
.closed-nav-menu {
  width: 80px !important;
}
.min-h-screen {
  min-height: 100vh;
}
